<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--基础服务地址-->
    <add key="BaseAddress" value="http://localhost:9001/WCFService/BaseService/"/>
    <!--基础服务地址TCP-->
    <add key="BaseAddressTcp" value="net.tcp://localhost:9002/WCFService/BaseService/"/>
    <!--回调地址-->
    <add key="CallbacksAddress" value="http://localhost:9003/WCFService/Callbacks"/>
    <!--回调地址TCP-->
    <add key="CallbacksAddressTcp" value="net.tcp://localhost:9004/WCFService/Callbacks"/>
  </appSettings>
</configuration>