<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBaseService" transferMode="Streamed">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ICallbacksService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9002/WCFService/BaseService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IBaseService"
                contract="BaseServiceReference.IBaseService" name="NetTcpBinding_IBaseService" />
            <endpoint address="net.tcp://localhost:9004/WCFService/Callbacks"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICallbacksService"
                contract="CallbacksServiceReference.ICallbacksService" name="NetTcpBinding_ICallbacksService" />
        </client>
    </system.serviceModel>
</configuration>